tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ŸàƒSƒVƒbƒN, monospace;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:•W€;
	mso-style-id:0;}
.font7
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ŸàƒSƒVƒbƒN, monospace;
	mso-font-charset:128;}
.font9
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ŸàƒSƒVƒbƒN, monospace;
	mso-font-charset:128;}
.font14
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;}
.font22
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ŸàƒSƒVƒbƒN, monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl67
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;}
.xl68
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	text-align:center;}
.xl69
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl74
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl76
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl77
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl79
	{mso-style-parent:style0;
	color:#222222;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl80
	{mso-style-parent:style0;
	color:#333333;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl81
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl82
	{mso-style-parent:style0;
	text-align:center;}
.xl83
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;
	border:.5pt solid windowtext;}
.xl84
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl85
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl86
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl87
	{mso-style-parent:style0;
	color:fuchsia;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl88
	{mso-style-parent:style0;
	color:windowtext;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl89
	{mso-style-parent:style0;
	color:windowtext;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	mso-number-format:"h\:mm\:ss";
	text-align:center;
	border:.5pt solid windowtext;}
.xl90
	{mso-style-parent:style0;
	color:#8EA9DB;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl91
	{mso-style-parent:style0;
	color:navy;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl92
	{mso-style-parent:style0;
	color:#CC99FF;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl93
	{mso-style-parent:style0;
	color:#339966;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl94
	{mso-style-parent:style0;
	color:teal;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl95
	{mso-style-parent:style0;
	color:#FFCC00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl96
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl97
	{mso-style-parent:style0;
	color:#5B5340;
	font-weight:700;
	font-family:"‚l‚r ƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;}
.xl98
	{mso-style-parent:style0;
	color:aqua;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl99
	{mso-style-parent:style0;
	color:#333333;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl100
	{mso-style-parent:style0;
	color:green;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl101
	{mso-style-parent:style0;
	color:#305496;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl102
	{mso-style-parent:style0;
	color:lime;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl103
	{mso-style-parent:style0;
	color:#111111;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl104
	{mso-style-parent:style0;
	color:#003366;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl105
	{mso-style-parent:style0;
	color:purple;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl106
	{mso-style-parent:style0;
	color:#FF6600;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl107
	{mso-style-parent:style0;
	color:#993300;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl108
	{mso-style-parent:style0;
	color:#CCCC00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl109
	{mso-style-parent:style0;
	color:#7030A0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl110
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl111
	{mso-style-parent:style0;
	color:blue;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl112
	{mso-style-parent:style0;
	color:windowtext;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	mso-number-format:"h\:mm\:ss";
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl114
	{mso-style-parent:style0;
	color:#99CC00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl115
	{mso-style-parent:style0;
	color:#B4C6E7;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	border:.5pt solid windowtext;}
.xl116
	{mso-style-parent:style0;
	color:#333333;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl117
	{mso-style-parent:style0;
	color:fuchsia;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl118
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:left;}
.xl119
	{mso-style-parent:style0;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl120
	{mso-style-parent:style0;
	color:#003366;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl121
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl122
	{mso-style-parent:style0;
	color:red;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl123
	{mso-style-parent:style0;
	color:#FFCC00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl124
	{mso-style-parent:style0;
	color:#993300;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl125
	{mso-style-parent:style0;
	color:#CC99FF;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl126
	{mso-style-parent:style0;
	color:lime;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl127
	{mso-style-parent:style0;
	color:teal;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl128
	{mso-style-parent:style0;
	color:aqua;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl129
	{mso-style-parent:style0;
	color:#3399FF;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl130
	{mso-style-parent:style0;
	color:purple;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl131
	{mso-style-parent:style0;
	color:#333333;
	font-size:13.5pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl132
	{mso-style-parent:style0;
	color:#CCCC00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl133
	{mso-style-parent:style0;
	color:black;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl134
	{mso-style-parent:style0;
	color:#FF6600;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl135
	{mso-style-parent:style0;
	color:#222222;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl136
	{mso-style-parent:style0;
	color:blue;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl137
	{mso-style-parent:style0;
	color:#305496;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl138
	{mso-style-parent:style0;
	color:#3C3C3C;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;
	white-space:normal;}
.xl139
	{mso-style-parent:style0;
	color:#BF8F00;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
.xl140
	{mso-style-parent:style0;
	color:#7030A0;
	font-size:14.0pt;
	font-family:"‚l‚r ‚oƒSƒVƒbƒN", monospace;
	mso-font-charset:128;
	text-align:center;}
